*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(127, 58, 106, 0.667);
  color: rgb(38, 94, 139);
  display: grid;
  justify-content: center;
  
}
.portfolio-body{
background-color: rgb(195, 220, 225) ;
margin:30px;
height: 100rem;
width: 94vw;
border-radius: 10px;
}

/* Nav */
nav{
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
 
}
nav a{
  text-decoration: none;
  font-size: 26px;
  color:#fff;
  padding-left: 20px;
  padding-right: 20px;
}


/* Introduction */
.introduction{
  display:flex;
  justify-content: space-around;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.introduction h1{
  padding-top: 20px;
  font-size: 50px;
  line-height: 70px;
 font-weight: 700;


}
.introduction img{
width: 350px;
}

/* CV */
.CV{
  display: flex;
  justify-content: center;
  height: 12%;
  align-items: center;
}
.CV a{
  height: 20px;
  width: 125px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid rgba(126, 203, 206, 0.792);
  background-color: rgba(126, 203, 206, 0.792);
  color: rgb(38, 94, 139);
  font-weight: 200;
}
/* About Me */ 
.about-me{
  display: grid;
  justify-content: center;
  align-content: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  width: 75vw;
  height: 30%;
  padding-top:5% ;

}
.about-me h1{
  font-family: Arial, Helvetica, sans-serif;
}
.about-me p{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  text-align: justify;
  margin-top: 20px; 
}

/* Skills */
.progress-bar{
  margin-top: -200px;
  padding-left: 25%;
}
.progress-bar h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    margin-left:-178px;
}
.progress-bar h4{
  padding: 10px;
  }
.outer-div{
display: block;
  margin-left: 0px;
  width: 65%;
  height: 10%;
  background-color: rgba(182, 180, 177, 0.349);
  border-radius: 10px;
  text-align:justify; 
}
.inner-div1{
  width:95%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}

.inner-div2{
  width: 90%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;

}
.inner-div3{
  width: 70%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;

}
.inner-div4{
  width: 50%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}
.inner-div5{
  width: 20%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}
.inner-div6{
  width: 90%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}




/*Small Screns  */
@media( max-width : 990px){

  /* intro */
  .introduction h1{
    font-size: 30px;
    line-height: 50px;
   
  }
  .introduction img{
  width: 250px;
  }

  /* CV */
  .CV{
    height: 8%;
    }
   .CV a{
     height: 09px;
     width: 90px;
     font-size: 2vh;
     padding:8px;
     font-weight: 200;
   }

   /* About */
   .about-me h1{
    font-size: 2vh;
    padding-bottom: 01%;
  }
  .about-me p{
   font-size:2vh;
    line-height: 12px;
    text-align: justify;
    margin-top: 0px; 
    margin-right: 5%;
  }
}



/* For Mobile */
 @media(max-width : 420px){
 
.portfolio-body{
  justify-content: center;
  height: 100rem;
  width:95vw;
  margin: 0px;

  }

/* Nav */
nav{
  height: 4vh;
  padding-top: 5px;
}
  nav a{
    font-size:small;
    padding-left: 10px;
    padding-right: 10px;
  }

/* INtro */
.introduction{
    margin-top: 50px;
    margin-left:20px ;
align-content: flex-start;
}
.introduction h1{
  font-size:medium;
  line-height: 22px;  
  margin-top: 10px;
}
.introduction img{
 width: 110px;
 height: 100px;

}

/* Cv */
.CV{
 height: 8%;
  
}
.CV a{
  height: 5px;
  width: 50px;
  font-size: 1vh;
  padding:8px;
  font-weight: 200;
}

/* About Me */
.about-me{
  display:grid;
  justify-content: center;
  align-content:start;
  padding-top: 0;
  }
.about-me h1{
  font-size: 1.5vh;

  padding-bottom: 03%;
}
.about-me p{
 font-size:1vh;
  line-height: 08px;
  text-align: justify;
  margin-top: 0px; 
  margin-right: 5%;
}

/* Skills */
.progress-bar{
  margin-top: -370px;
  padding-left: 20%;
}
.progress-bar h1{
  font-size: 1.5vh;
  padding-bottom: 10px;
  margin-left:-36px;
}
.progress-bar h4{
  padding: 05px;
  font-size: 1vh;
  }

/* .outer-div{
  width: 65%;
  height: 10px;
} */
.inner-div1{
  font-size: 1vh;
  padding-top: 0px;
  height: 07px;
  padding-left: 05%;
}

.inner-div2{
  font-size: 1vh;
  padding-top: 0px;
  height: 07px;
  padding-left: 05%;

}
.inner-div3{
  font-size: 1vh;
  padding-top: 0px;
  height: 07px;
  padding-left: 05%;

}
.inner-div4{
  font-size: 1vh;
  padding-top: 0px;
  height: 7px;
  padding-left: 05%;
}
.inner-div5{
  font-size: 1vh;
  padding-top: 0px;
  height: 7px;
  padding-left: 05%;
}
.inner-div6{
  font-size: 1vh;
  padding-top: 0px;
  height: 7px;
  padding-left: 05%;
}

} 
