*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(127, 58, 106, 0.667);
  color: rgb(38, 94, 139);
  display: grid;
  justify-content: center;
  
}
.portfolio-body{
background-color: rgb(195, 220, 225) ;
margin:30px;
height: 141%;
width: 94vw;
border-radius: 10px;
}

/* Nav */
nav{
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
 
}
nav a{
  text-decoration: none;
  font-size: 26px;
  color:#fff;
  padding-left: 20px;
  padding-right: 20px;
}


/* Introduction */
.introduction{
  display:flex;
  justify-content: space-around;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.introduction h1{
  padding-top: 20px;
  font-size: 50px;
  line-height: 70px;
 font-weight: 700;
 font-family: Arial, Helvetica, sans-serif;
 position: relative;
 font-size:50px;
 text-align: center;
 color: rgb(195, 220, 225);
 -webkit-text-stroke: 0.3vw rgb(195, 220, 225);
}
.introduction h1::before{
  content: attr(data-text);
  color: purple;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  animation: animate 7s  ;
}
@keyframes animate{
  0%,10%{
    width: 0;
  }
  70%,90%,100%{
    width: 100%;
  }
}

.introduction img{
width: 350px;
}

/* CV */
.CV{
  display: flex;
  justify-content: center;
  height: 8%;
  align-items: center;
}
.CV a{
  height: 20px;
  width: 125px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid rgba(126, 203, 206, 0.792);
  background-color: rgba(126, 203, 206, 0.792);
  color: rgb(38, 94, 139);
  font-weight: 200;
}
/* About Me */ 
.about-me{
  display: grid;
  justify-content: center;
  align-content: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  width: 75vw;
  height: 30%;
  padding-top:03% ;

}
.about-me h1{
  font-family: Arial, Helvetica, sans-serif;
}
.about-me p{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  text-align: justify;
  margin-top: 20px; 
}

/* Skills */
.progress-bar{
  margin-top: -52%;
  padding-left: 25%;
}
.progress-bar h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    margin-left:-20%;
}
.progress-bar h4{
  padding: 10px;
  }
.outer-div{
display: block;
  margin-left: 0px;
  width: 65%;
  height: 10%;
  background-color: rgba(182, 180, 177, 0.349);
  border-radius: 10px;
  text-align:justify; 
}
.inner-div1{
  width:95%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}

.inner-div2{
  width: 90%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;

}
.inner-div3{
  width: 70%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;

}
.inner-div4{
  width: 50%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}
.inner-div5{
  width: 20%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}
.inner-div6{
  width: 90%;
  background-color: rgb(38, 94, 139);
  border-radius: 10px;
  color: #fff;
  padding-left: 05%;
}

/* Project */
.projects{
margin-top: 120px;
}
.projects h1{
  font-family: Arial, Helvetica, sans-serif;
    margin-left:11%; 
}
.card-group{
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
 
}
.projects .card{
  width: 380px;
  height: 360px;
 border: 1px solid  rgba(132, 193, 196, 0.598);
 background-color: rgba(132, 193, 196, 0.598);
 border-radius: 10px;
 font-family: 'Times New Roman', Times, serif;
}
.projects .card img{
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  width: 250px;
  height: 160px;
  border-radius: 5px;
}
.card .card-body{
padding: 15px;
text-align: center
}
.card-body p{
  text-align: justify;
  padding-bottom: 25px;
  padding-top: 10px;
}
.card-body a{
text-decoration: none;
background-color: rgb(38, 94, 139);
color: #fff;
border: none;
padding: 10px;
}

/* Contact */
.contact{
display: flex;
justify-content: center;  
align-items:flex-start;
width: 450px;
height: 450px;
background-image: url(./images/custom.png);
background-size: cover;
margin-top: 10%;
margin-left: 27%;
}
.contact h1{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 150px;
  left: 90px;
}
.contact .links{
  display: flex;
  justify-content: center;
  position: relative;
  top: 230px;
  right: 100px;
}
.contact .links img{
  width: 35px;
  height: 35px;
  padding: 10px;
}

/* Footer */
footer{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
footer p{
  color: #00000072;
}





/*Small Screns  */
@media( max-width : 990px){

  .portfolio-body{
    height: 150%;
  }
  /* intro */
  .introduction h1{
    font-size: 30px;
    line-height: 50px;
   
  }
  .introduction img{
  width: 250px;
  }

  /* CV */
  .CV{
    height: 7%;
    }
   .CV a{
     height: 09px;
     width: 90px;
     font-size: 2vh;
     padding:8px;
     font-weight: 200;
   }

   /* About */
   .about-me h1{
    font-size: 2vh;
    padding-bottom: 01%;
  }
  .about-me p{
   font-size:2.5vh;
    line-height: 15px;
    text-align: justify;
    margin-top: 0px; 
    margin-right: 5%;
  }

  /* Skills */
  .progress-bar{
    margin-top: -760px;
    padding-left: 20%;
  }
  .progress-bar h1{
    font-size: 2vh;
    padding-bottom: 10px;
    margin-left:-13%;
  }
  .progress-bar h4{
    padding: 05px;
    font-size: 1.5vh;
    }

  .inner-div1{
    font-size: 1.5vh;
    padding-top: 0px;
    height: 10px;
    padding-left: 05%;
  }
  
  .inner-div2{
    font-size: 1.5vh;
    padding-top: 0px;
    height: 10px;
    padding-left: 05%;
  
  }
  .inner-div3{
    font-size: 1.5vh;
    padding-top: 0px;
    height: 10px;
    padding-left: 05%;
  
  }
  .inner-div4{
    font-size: 1.5vh;
    padding-top: 0px;
    height:10px;
    padding-left: 05%;
  }
  .inner-div5{
    font-size: 1.5vh;
    padding-top: 0px;
    height:10px;
    padding-left: 05%;
  }
  .inner-div6{
    font-size: 1.5vh;
    padding-top: 0px;
    height:10px;
    padding-left: 05%;
  }
  

  /* Projects */
  .projects{
    margin-top: 80px;
    }
    .projects h1{
      font-size: 2vh; 
    }
    .card-group{
      display: grid;
      justify-content: space-evenly;
      margin-top: 20px;
    }
    .card-group .card{
    margin-bottom: 30px;
    width: 400px;
    height: 400px;
  }

  /* Contact */
  .contact{
    width: 230px;
    height: 230px;
    margin-left: 30%;
    }
    .contact h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2vh;
      position: relative;
      top: 70px;
      left: 50px;
    }
    .contact .links{
      top: 100px;
      right: 30px;
    }
    .contact .links img{
      width: 25px;
      height: 25px;
      padding: 05px;
    }
    footer{
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
    footer p{
font-size: 1.5vh;
    }

}




/* For Mobile */
 @media(max-width : 420px){
 
.portfolio-body{
  justify-content: center;
  height: 145rem;
  width:95vw;
  margin: 0px;

  }

/* Nav */
nav{
  height: 4vh;
  padding-top: 5px;
}
  nav a{
    font-size:small;
    padding-left: 10px;
    padding-right: 10px;
  }

/* INtro */
.introduction{
    margin-top: 50px;
    margin-left:20px ;
align-content: flex-start;
}
.introduction h1{
  font-size:medium;
  line-height: 22px;  
  margin-top: 10px;
}
.introduction img{
 width: 110px;
 height: 100px;

}

/* Cv */
.CV{
 height: 5%;
  
}
.CV a{
  height: 5px;
  width: 40px;
  font-size: 1vh;
  font-weight: bold;
  padding:8px;
  font-weight: 200;
}

/* About Me */
.about-me{
  display:grid;
  justify-content: center;
  align-content:start;
  padding-top: 0;
  }
.about-me h1{
  font-size: 1.5vh;

  padding-bottom: 03%;
}
.about-me p{
 font-size:1vh;
  line-height: 08px;
  text-align: justify;
  margin-top: 0px; 
  margin-right: 5%;
}

/* Skills */
.progress-bar{
  margin-top: -180%;
  padding-left: 20%;
}
.progress-bar h1{
  font-size: 1.5vh;
  padding-bottom: 10px;
  margin-left:-36px;
}
.progress-bar h4{
  padding: 05px;
  font-size: 1vh;
  }
.inner-div1{
  font-size: 1vh;
  padding-top: 0px;
  height: 09px;
  padding-bottom: 2px;
  padding-left: 05%;
}

.inner-div2{
  font-size: 1vh;
  padding-top: 0px;
  height: 09px;
  padding-bottom: 2px;
  padding-left: 05%;

}
.inner-div3{
  font-size: 1vh;
  padding-top: 0px;
  height: 09px;
  padding-bottom: 2px;
  padding-left: 05%;

}
.inner-div4{
  font-size: 1vh;
  padding-top: 0px;
  height: 9px;
  padding-bottom: 2px;
  padding-left: 05%;
}
.inner-div5{
  font-size: 1vh;
  padding-top: 0px;
  height: 9px;
  padding-bottom: 2px;
  padding-left: 05%;
}
.inner-div6{
  font-size: 1vh;
  padding-top: 0px;
  height: 9px;
  padding-bottom: 2px;
  padding-left: 05%;
}

/* Projects */
.projects{
  margin-top: 50px;
  }
  .projects h1{
    font-size: 1.5vh; 
  }
  .card-group{
    display: grid;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .projects .card{
    width: 300px;
    height: 280px;
  margin-bottom: 20px;
  }
  .projects .card img{
    padding-top: 25px;
    width: 250px;
    height: 100px;
    
   }
  .card .card-body{
  padding: 15px;
  text-align: center
  }
  .card-body p{
  font-size: 1.5vh;
    padding-bottom: 25px;
    padding-top: 10px;
  }
  .card-body h3{
    font-size: 2vh;
  }
  .card-body a{
  padding: 05px;
  font-size: 1.5vh;
  }

  /* Contact */
  .contact{
    width: 150px;
    height: 150px;
    margin-left: 25%;
    }
    .contact h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5vh;
      position: relative;
      top: 60px;
      left: 40px;
    }
    .contact .links{
      top: 90px;
      right: 30px;
    }
    .contact .links img{
      width: 15px;
      height: 15px;
      padding: 05px;
    }
    footer{
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
    footer p{
font-size: 1.5vh;
    }
}
